:root {
  font-family:monospace, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: var(--text-color);
  background-color: var(--background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  user-select: none;

  --sepia0: #ebd7cb;
  --sepia1: #ffe0b5;
  --sepia2: #d4aa7d;
  --sepia3: #b87d48;
  --sepia4: #9e6240;
  --sepia5: #3c2920;

  --border-color: var(--sepia3);
  --text-color: var(--sepia5);
  --background-color: var(--sepia1);
  
}

body,html {
  margin: 0;
  padding: 0;
  user-select: none;
}

.container {
  margin: 0;
  text-align: center;
}


button {
  padding: 0.5em 1em;
  font-family: inherit;
  color: var(--sepia1);
  background: var(--sepia4);
  box-shadow: 0 4px 4px var(--sepia5);
}

button {
  cursor: pointer;
}

button:hover {
  box-shadow: 0 4px 4px var(--sepia2);
}
button:active {
  border-color: #396cd8;
  background-color: #e8e8e8;
}

input,
button {
  border: none;
  outline: none;
}

input {
  background: var(--sepia4);
  color: var(--sepia0);
  border: 1px solid var(--sepia1);
}

p {
  color: var(--text-color);
}

::-webkit-scrollbar {
	background: var(--sepia5);
	appearance: none;
	-webkit-appearance: none;
	width: 1em;
}

::-webkit-scrollbar-thumb {
	background: var(--sepia2);
}

